<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span translate>espd.gui.app.title</span>
    <span class="example-spacer"></span>
    <ul>
      <li><a href="http://ec.europa.eu/growth/legal-notice/" translate>espd.gui.legal.notice</a> | </li>
      <li><a href="http://ec.europa.eu/growth/cookies/" translate>espd.gui.cookies</a> | </li>
      <li><a href="http://ec.europa.eu/growth/contact_en" translate>espd.gui.contact</a> | </li>
    </ul>
  </mat-toolbar-row>

  <!--<mat-toolbar-row id="sub">-->
    <!--<span class="example-spacer"></span>-->
    <!--<span>Service to fill out and reuse the ESPD</span>-->
  <!--</mat-toolbar-row>-->
</mat-toolbar>
