<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>European Single Procurement Document (ESPD)</span>
    <span class="example-spacer"></span>
    <ul>
      <li><a href="#">Legal Notice</a> |</li>
      <li><a href="#">Cookies</a> |</li>
      <li><a href="#">Contact</a> |</li>
      <li><a href="#">About</a> </li>
    </ul>
  </mat-toolbar-row>

  <!--<mat-toolbar-row id="sub">-->
    <!--<span class="example-spacer"></span>-->
    <!--<span>Service to fill out and reuse the ESPD</span>-->
  <!--</mat-toolbar-row>-->
</mat-toolbar>
