<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--<span translate>espd.gui.app.title</span>-->
    <div class="container">
      <img class="logo" src="../../assets/images/PromitheusESPDint_banner_logo.png" alt="logo">
    </div>
      <span class="example-spacer"></span>
      <ul>
        <li><a href="#" translate> espd.gui.legal.notice </a> |</li>
        <li><a href="#" translate> espd.gui.cookies </a> |</li>
        <li><a href="#" translate> espd.gui.contact </a> |</li>
        <li><a href="#" translate> espd.gui.about </a></li>
      </ul>
  </mat-toolbar-row>

  <!--<mat-toolbar-row id="sub">-->
    <!--<span class="example-spacer"></span>-->
    <!--<span>Service to fill out and reuse the ESPD</span>-->
  <!--</mat-toolbar-row>-->
</mat-toolbar>
