<div class="ecertis-wrap">
  <div class="ecertis-name">
    {{criterion.name + '( ' + criterion.legislationReference.title + ' '}} <a
    href="{{criterion.legislationReference.uri}}">
    {{criterion.legislationReference.article + ' )'}}</a>
  </div>
  <div class="ecertis-text">
    <p>{{criterion.description}}</p>
  </div>
</div>

<!-- TODO evidence handling-->

<div *ngFor="let evidence of criterion.evidenceList; let i=index " class="evidence-wrap">
  <div class="evidence-text">{{i+1 +". "}}<a href="{{evidence.evidenceURL}}">{{evidence.name}}</a>
    <div *ngIf="evidence.evidenceIssuer !== null">
      <span translate>espd.ecertis.issued</span> {{": "+ evidence.evidenceIssuer.name}}
    </div>
  </div>

</div>
