
  <div [formGroup]="form">
    <label *ngIf="req.responseDataType=='INDICATOR'" [attr.for]="req.id">{{req.description}}</label>

    <div [ngSwitch]="req.responseDataType">

      <mat-form-field *ngSwitchDefault >
        <input matInput [formControlName]="req.id" [id]="req.id" [placeholder]="req.description">
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'DATE'">
        <input matInput [matDatepicker]="picker" [formControlName]="req.id" [id]="req.id" [placeholder]="req.description">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-radio-group [id]="req.id" *ngSwitchCase="'INDICATOR'" [formControlName]="req.id">
        <mat-radio-button color="primary"
                          value="YES">YES
        </mat-radio-button>
        <mat-radio-button color="primary"
                          value="NO">NO
        </mat-radio-button>
      </mat-radio-group>

    </div>
  </div>



