<mat-card>
  <div [formGroup]="form">
    <label [attr.for]="req.id">{{req.description}}</label>

    <div [ngSwitch]="req.responseDataType">

        <input matInput *ngSwitchDefault [formControlName]="req.id"
               [id]="req.id">



        <mat-select [id]="req.id" *ngSwitchCase="'INDICATOR'" [formControlName]="req.id">
          <mat-option>YES</mat-option>
          <mat-option>NO</mat-option>
        </mat-select>



      <!--<mat-radio-group>-->
        <!--<mat-radio-button color="primary"-->
                          <!--value="YES"-->
                          <!--[value]="true">YES-->
        <!--</mat-radio-button>-->
        <!--<mat-radio-button color="primary"-->
                          <!--value="NO"-->
                          <!--[value]="false">NO-->
        <!--</mat-radio-button>-->
      <!--</mat-radio-group>-->

    </div>
  </div>
</mat-card>


