<h4 xmlns="http://www.w3.org/1999/html">Part III: Exclusion grounds</h4>
<mat-accordion multi="true">
<ng-container *ngIf="dataService.exclusionACriteriaForm">
  <form [formGroup]="dataService.exclusionACriteriaForm">
    <mat-expansion-panel expanded="true" *ngIf="exclusionACriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          A: Grounds relating to criminal convictions
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Article {{exclusionACriteria['0'].legislationReference.article}} of
          {{exclusionACriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
      </div>
      <mat-card *ngFor="let cr of exclusionACriteria; let i = index">
        <div class="exclusionCriteria">

          <div class="criterion-wrap">
            <div class="criteria">
              <h4>{{cr.name}}</h4>
              <div class="critDesc">{{cr.description}}</div>
              <div class="eCertis">
                <h5>eCertis Information ...</h5>
                <div class="eCertDesc">no information...</div>
              </div>
            </div>
          </div>
          <div class="answer">
            <app-criterion [criterion]="cr" [form]="dataService.exclusionACriteriaForm.controls" [indicator]="true"></app-criterion>
          </div>

        </div>
      </mat-card>
    </mat-expansion-panel>

  </form>
</ng-container>

<ng-container *ngIf="dataService.exclusionBCriteriaForm">
  <form [formGroup]="dataService.exclusionBCriteriaForm">
    <mat-expansion-panel expanded="true" *ngIf="exclusionBCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          B: Grounds relating to the payment of taxes or social security contributions
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Article {{exclusionBCriteria['0'].legislationReference.article}} of
          {{exclusionBCriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
      </div>
      <mat-card *ngFor="let cr of exclusionBCriteria">
        <div class="exclusionCriteria">
          <div class="criterion-wrap">
            <div class="criteria">
              <h4>{{cr.name}}</h4>
              <div class="critDesc">{{cr.description}}</div>
            </div>

            <div class="eCertis">
              <h5>eCertis Information ...</h5>
              <div class="eCertDesc">no information...</div>
            </div>
          </div>
          <div class="answer">
            <app-criterion [criterion]="cr" [form]="dataService.exclusionBCriteriaForm.controls" [indicator]="true"></app-criterion>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>
  </form>
</ng-container>

<ng-container *ngIf="dataService.exclusionCCriteriaForm">
  <form [formGroup]="dataService.exclusionCCriteriaForm">
    <mat-expansion-panel expanded="true" *ngIf="exclusionCCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          C: Grounds relating to insolvency, conflicts of interests or professional misconduct
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Article {{exclusionCCriteria['0'].legislationReference.article}} of
          {{exclusionCCriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
      </div>
      <mat-card *ngFor="let cr of exclusionCCriteria">
        <div class="exclusionCriteria">
          <div class="criterion-wrap">
            <div class="criteria">
              <h4>{{cr.name}}</h4>
              <div class="critDesc">{{cr.description}}</div>
            </div>
            <div class="eCertis">
              <h5>eCertis Information ...</h5>
              <div class="eCertDesc">no information...</div>
            </div>
          </div>
          <div class="answer">
            <app-criterion [criterion]="cr" [form]="dataService.exclusionCCriteriaForm.controls" [indicator]="true"></app-criterion>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>
  </form>
</ng-container>


<ng-container *ngIf="dataService.exclusionDCriteriaForm">
  <form [formGroup]="dataService.exclusionDCriteriaForm">
    <mat-expansion-panel expanded="true" *ngIf="exclusionDCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          D: Purely national exclusion grounds
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Do the purely national grounds of exclusion, which are specified in the relevant notice or in the
          procurement documents, apply?</h4>
      </div>
      <mat-card *ngFor="let cr of exclusionDCriteria; let i=index">
        <div class="exclusionCriteria">
          <div class="criterion-wrap">
            <div class="criteria">
              <h4>{{cr.name}}</h4>
              <div class="critDesc">{{cr.description}}</div>
            </div>
            <div class="eCertis">
              <h5>eCertis Information ...</h5>
              <div class="eCertDesc">no information...</div>
            </div>
          </div>
          <div class="answer">
            <app-criterion [criterion]="cr" [form]="dataService.exclusionDCriteriaForm.controls" [indicator]="true"></app-criterion>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>
  </form>
</ng-container>
</mat-accordion>
<button mat-raised-button color="primary" matStepperPrevious>Back</button>
<button type="submit" mat-raised-button color="primary" matStepperNext (click)="onExclusionEOSubmit()">Next
</button>
