<h4>Part III: Exclusion grounds</h4>
<mat-accordion multi="true">
  <form [formGroup]="formA">
    <mat-expansion-panel expanded="true" *ngIf="exclusionACriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          A: Grounds relating to criminal convictions
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Article {{exclusionACriteria['0'].legislationReference.article}} of
          {{exclusionACriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
      </div>
      <mat-card *ngFor="let criteria of exclusionACriteria; let i = index">
        <div class="exclusionCriteria">

          <div class="criteria">
            <h4>{{criteria.name}}</h4>
            <div class="critDesc">{{criteria.description}}</div>
            <div class="eCertis">
              <h5>eCertis Information ...</h5>
              <div class="eCertDesc">no information...</div>
            </div>
          </div>
          <div class="answer">

            <div *ngFor="let rg of requirementAGroups" class="form-row">
              <app-requirement-group [reqGroup]="rg" [form] = "formA.get(rg.id)" [indicator]="true"></app-requirement-group>
            </div>

            <!--<mat-radio-group name='responseDataType'>-->
            <!--<mat-radio-button color="primary" name="selALL" value="YES" (change)="handleALL(YES)" #YES>YES</mat-radio-button>-->
            <!--<mat-radio-button color="primary" name="selALL" value="NO" checked (change)="handleALL(NO)" #NO>NO</mat-radio-button>-->
            <!--</mat-radio-group>-->

            <!--<mat-radio-group>-->
              <!--<mat-radio-button color="primary"-->
                                <!--value="YES"-->
                                <!--[value]="true">YES-->
              <!--</mat-radio-button>-->
              <!--<mat-radio-button color="primary"-->
                                <!--value="NO"-->
                                <!--[value]="false">NO-->
              <!--</mat-radio-button>-->
            <!--</mat-radio-group>-->

          </div>

        </div>
      </mat-card>
    </mat-expansion-panel>

  </form>

  <form #f="ngForm">
    <mat-expansion-panel expanded="true" *ngIf="exclusionBCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          B: Grounds relating to the payment of taxes or social security contributions
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Article {{exclusionBCriteria['0'].legislationReference.article}} of
          {{exclusionBCriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
      </div>
      <mat-card *ngFor="let criteria of exclusionBCriteria">
        <div class="exclusionCriteria">

          <div class="criteria">
            <mat-checkbox color="primary" checked="criteria.selected" disabled>{{criteria.name}}</mat-checkbox>
            <div class="critDesc">{{criteria.description}}</div>
          </div>

          <div class="eCertis">
            <h5>eCertis Information ...</h5>
            <div class="eCertDesc">no information...</div>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" *ngIf="exclusionCCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          C: Grounds relating to insolvency, conflicts of interests or professional misconduct
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Article {{exclusionCCriteria['0'].legislationReference.article}} of
          {{exclusionCCriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
      </div>
      <mat-card *ngFor="let criteria of exclusionCCriteria">
        <div class="exclusionCriteria">
          <div class="criteria">
            <mat-checkbox color="primary" checked="criteria.selected" disabled>{{criteria.name}}</mat-checkbox>
            <div class="critDesc">{{criteria.description}}</div>
          </div>
          <div class="eCertis">
            <h5>eCertis Information ...</h5>
            <div class="eCertDesc">no information...</div>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" *ngIf="exclusionDCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          D: Purely national exclusion grounds
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Do the purely national grounds of exclusion, which are specified in the relevant notice or in the
          procurement documents, apply?</h4>
      </div>
      <mat-card *ngFor="let criteria of exclusionDCriteria; let i=index">
        <div class="exclusionCriteria">
          <div class="criteria">
            <mat-checkbox color="primary" checked="criteria.selected" name="exclusionDCriteria"
                          [(ngModel)]="exclusionDCriteria[i].selected">{{criteria.name}}
            </mat-checkbox>
            <div class="critDesc">{{criteria.description}}</div>
          </div>
          <div class="eCertis">
            <h5>eCertis Information ...</h5>
            <div class="eCertDesc">no information...</div>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>

    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button type="submit" mat-raised-button color="primary" matStepperNext (click)="onExclusionEOSubmit(f)">Next
    </button>

  </form>

</mat-accordion>
