@import "../valo/valo.scss";

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin designertheme {
  @include valo;

  /* Designer theme rules */
  /*.v-button {
    margin: 5px;
  }*/

  .v-slot {

  }

  .v-margin-top {
    padding-top: 16px;
  }

  .v-margin-right {
    padding-right: 15px;
  }

  .v-margin-bottom {
    padding-bottom: 16px;
  }

  .v-margin-left {
    padding-left: 15px;
  }

  .v-widget {
    border-radius: 0px;
  }

  .master-mainContent > .v-slot > .v-widget {
    width: 100%;
  }

  .v-slot-box_info {
    margin: 5px;
    padding: 10px;
    background: #A5C1E8 url('img/') no-repeat 0px 0px;
  }

  .v-slot-box_input {
    @include rounded(5px);
    padding: 5px;
    background-color: #E9E9E9;
  }

  .v-progressbar-wrapper {
    height: 16px;
  }

  .v-label-form-depth-1-static-text {
    //color: #474747;
    background-color: #E6E6E6;
    padding: 16px;
    font-size: 12px;
  }

  .v-horizontallayout-topheader {
    background-color: #efa134;
  }

  .v-image-topheaderEsensImage {
    padding: 10px;
  }

  .v-label-topheaderWelcomeText {
    color: #f4c583;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
  }

  .Master {
    background-color: #000000;
  }

  .navigatorPanel {
    background-color: #4d4d4d;
    border-radius: 0px;
    border: 0px;
  }

  .v-verticallayout-navigatorContent {
    background-color: #4d4d4d;
  }

  .mainPanel {
    background-color: #f1f1f1;
    border-radius: 0px;
    border: 0px;
  }

  .master-mainContent {
    padding: 10px;
    width: 100%;
  }

  .v-gridlayout-contentGrid {
    padding-bottom: 76px;
  }

  .navigatorButtonDark {
    background: #4d4d4d;
    border-radius: 0px;
    border: 0px;
  }

  .v-button-navigatorButtonDark {
    background-image: none;
    box-shadow: inset 0px 0px 0px 0px #000;
    border: 0px solid #dcdcdc;
    font-size: 22px;
    color: #e3e3e3;
    text-align: left;
  }

  .v-button-navigatorButtonLight {
    @extend .v-button-navigatorButtonDark;
    background-color: #5c5c5c;
    color: #b3b3b3;
  }

  .navigatorHeaderTitle {
    font-size: 32px;
    font-weight: bold;
    color: #b3b3b3;
  }

  .navigatorHeaderRole {
    @extend .navigatorHeaderTitle;
    font-size: 18px;
    margin-top: -8px;
    margin-bottom: 30px;
  }

  .navigatorHeaderLayout {
  
  }

  .dashboard-gridLayout {
    width: 100%;
  }

  .dashboard-columns {
    //width: 100%;
  }

  .dashboard-newEspdTemplateButton {
    background-image: none;
    background-color: #569AC4;
    box-shadow: inset 0px 0px 0px 0px #000;
    border: 0px solid #569AC4;
    font-size: 28px;
    color: #e3e3e3;
  }

  .v-button-caption {
    white-space: pre;
  }

  .v-panel-caption {
    box-shadow: inset 0px 0px 0px 0px #000;
    border: 0px solid #569AC4;
    border-radius: 0px;
    background: #569AC4;
    color: #e3e3e3;
    font-size: 18px;
    font-weight: bold;
    font-variant: small-caps;
  }

  .v-panel-caption-requirementGroupForm-panel {
    @extend .v-panel-caption;
    background: #63C456;
    border: 0px solid #63C456;
  }

  .v-panel-caption-requirementForm-panel {
    @extend .v-panel-caption;
    background: #B756C4;
    border: 0px solid #B756C4;
  }

  .v-button-navigatorButtonDark > .v-button-wrap > .FontAwesome {
    width: 30px;
  }

  .v-button-navigatorButtonLight > .v-button-wrap > .FontAwesome {
    width: 30px;
  }

  .v-formlayout > table {
    padding: 14px;
    width: 100%;
  }

  tbody > .v-formlayout-firstrow > .v-formlayout-captioncell,
  tbody > .v-formlayout-firstrow > .v-formlayout-errorcell,
  tbody > .v-formlayout-firstrow > .v-formlayout-contentcell {
    padding-top: 0px !important;
  }

  .espdRequestForm-formButton {
    background-image: none;
    background-color: #569AC4;
    box-shadow: inset 0px 0px 0px 0px #000;
    border: 0px solid #569AC4;
    color: #e3e3e3;
  }

  .espdRequestForm-previous {
    @extend .espdRequestForm-formButton;
    background-color: #569AC4;
    border: 0px solid #569AC4;
  }

  .espdRequestForm-cancel {
    @extend .espdRequestForm-formButton;
    background-color: #C94747;
    border: 0px solid #C94747;
  }

  .espdRequestForm-next {
    @extend .espdRequestForm-formButton;
    background-color: #36AB2E;
    border: 0px solid #36AB2E;
  }

  .espdRequestForm-finish {
    @extend .espdRequestForm-formButton;
    background-color: #6C56C4;
    border: 0px solid #6C56C4;
  }

  .espdRequestForm-printFullModelData {
    @extend .espdRequestForm-formButton;
    background-color: #D8A42F;
    border: 0px solid #D8A42F;
  }
}