@import "../valo/valo.scss";

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin designertheme {
  @include valo;

  /* Designer theme rules */
  /*.v-button {
    margin: 5px;
  }*/

  .v-slot {
    margin: 5px;
  }

  .v-slot-box_info {
    margin: 5px;
    padding: 10px;
    background: #A5C1E8 url('img/') no-repeat 0px 0px;
  }

  .v-slot-box_input {
    @include rounded(5px);
    padding: 5px;
    background-color: #E9E9E9;
  }

  .v-progressbar-wrapper {
    height: 16px;
  }

  .v-label-form-static-text {
    //color: #474747;
    background-color: #E6E6E6;
    padding: 16px;
    font-size: 12px;
  }
}