<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table align="center" style="background: #EEE; padding: 15px;">
        <tr>
            <td><div location="info"></div></td>
        </tr>
        <tr>
            <td>Username: </td>
            <td><div location="username"></div></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><div location="password"></div></td>
        </tr>
        <tr>
            <td><div location="login"></div></td>
        </tr>
    </table>
</body>
</html>