<h4>Part III: Exclusion grounds</h4>
<form #f="ngForm">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngIf="exlusionACriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          A: Grounds relating to criminal convictions
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Article {{exlusionACriteria['0'].legislationReference.article}} of {{exlusionACriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
      </div>
     <mat-card *ngFor="let criteria of exlusionACriteria; let i = index">
       <div class="exclusionCriteria" >

         <div class="criteria">
           <mat-checkbox name=exlusionACriteria[i] color="primary" checked="exlusionACriteria[i].selected" [(ngModel)]="exlusionACriteria[i].selected" disabled>{{criteria.name}}</mat-checkbox>
           <div class="critDesc">{{criteria.description}}</div>
         </div>

         <div class="eCertis">
           <h5>eCertis Information ...</h5>
           <div class="eCertDesc">no information...</div>
         </div>
       </div>
     </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" *ngIf="exlusionBCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          B: Grounds relating to the payment of taxes or social security contributions
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Article {{exlusionBCriteria['0'].legislationReference.article}} of {{exlusionBCriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
      </div>
      <mat-card *ngFor="let criteria of exlusionBCriteria">
        <div class="exclusionCriteria" >

          <div class="criteria">
            <mat-checkbox color="primary" checked="criteria.selected" disabled>{{criteria.name}}</mat-checkbox>
            <div class="critDesc">{{criteria.description}}</div>
          </div>

          <div class="eCertis">
            <h5>eCertis Information ...</h5>
            <div class="eCertDesc">no information...</div>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" *ngIf="exlusionCCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          C: Grounds relating to insolvency, conflicts of interests or professional misconduct
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Article {{exlusionCCriteria['0'].legislationReference.article}} of {{exlusionCCriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
      </div>
      <mat-card *ngFor="let criteria of exlusionCCriteria">
        <div class="exclusionCriteria" >
          <div class="criteria">
            <mat-checkbox color="primary" checked="criteria.selected" disabled>{{criteria.name}}</mat-checkbox>
            <div class="critDesc">{{criteria.description}}</div>
          </div>
          <div class="eCertis">
            <h5>eCertis Information ...</h5>
            <div class="eCertDesc">no information...</div>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" *ngIf="exlusionDCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          D: Purely national exclusion grounds
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="desc">
        <h4>Do the purely national grounds of exclusion, which are specified in the relevant notice or in the procurement documents, apply?</h4>
      </div>
      <mat-card *ngFor="let criteria of exlusionDCriteria; let i=index">
        <div class="exclusionCriteria" >
          <div class="criteria">
            <mat-checkbox color="primary" checked="criteria.selected" name="exclusionDCriteria" [(ngModel)]="exlusionDCriteria[i].selected">{{criteria.name}}</mat-checkbox>
            <div class="critDesc">{{criteria.description}}</div>
          </div>
          <div class="eCertis">
            <h5>eCertis Information ...</h5>
            <div class="eCertDesc">no information...</div>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button color="primary" matStepperPrevious>Back</button>
  <button type="submit" mat-raised-button color="primary" matStepperNext (click)="onExclusionSubmit(f)">Next</button>
</form>
