<h4>Part III: Exclusion grounds</h4>
<form #f="ngForm">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngIf="exclusionACriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          A: Grounds relating to criminal convictions
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="exclusionACriteria.length !== 0">
        <div class="desc">
          <h4>Article {{exclusionACriteria['0'].legislationReference.article}} of {{exclusionACriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
        </div>
      </ng-container>
     <mat-card *ngFor="let criteria of exclusionACriteria; let i = index">
       <div class="exclusionCriteria" >

         <div class="criteria">
           <mat-checkbox name=exclusionACriteria[i] color="primary" checked="exclusionACriteria[i].selected" [(ngModel)]="exclusionACriteria[i].selected" [disabled]="exclusionACriteria[i].selected">{{criteria.name}}</mat-checkbox>
           <div class="critDesc">{{criteria.description}}</div>
         </div>

         <div class="eCertis">
           <h5>eCertis Information ...</h5>
           <div class="eCertDesc">no information...</div>
         </div>
       </div>
     </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" *ngIf="exclusionBCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          B: Grounds relating to the payment of taxes or social security contributions
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="exclusionBCriteria.length !== 0">
        <div class="desc">
          <h4>Article {{exclusionBCriteria['0'].legislationReference.article}} of {{exclusionBCriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
        </div>
      </ng-container>
      <mat-card *ngFor="let criteria of exclusionBCriteria; let i = index">
        <div class="exclusionCriteria" >

          <div class="criteria">
            <mat-checkbox color="primary" checked="criteria.selected" [disabled]="exclusionBCriteria[i].selected">{{criteria.name}}</mat-checkbox>
            <div class="critDesc">{{criteria.description}}</div>
          </div>

          <div class="eCertis">
            <h5>eCertis Information ...</h5>
            <div class="eCertDesc">no information...</div>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" *ngIf="exclusionCCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          C: Grounds relating to insolvency, conflicts of interests or professional misconduct
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="exclusionCCriteria.length !== 0">
        <div class="desc">
          <h4>Article {{exclusionCCriteria['0'].legislationReference.article}} of {{exclusionCCriteria['0'].legislationReference.title}} sets out the following reasons for exclusion</h4>
        </div>
      </ng-container>
      <mat-card *ngFor="let criteria of exclusionCCriteria; let i = index">
        <div class="exclusionCriteria" >
          <div class="criteria">
            <mat-checkbox color="primary" checked="criteria.selected" [disabled]="exclusionCCriteria[i].selected">{{criteria.name}}</mat-checkbox>
            <div class="critDesc">{{criteria.description}}</div>
          </div>
          <div class="eCertis">
            <h5>eCertis Information ...</h5>
            <div class="eCertDesc">no information...</div>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" *ngIf="exclusionDCriteria">
      <mat-expansion-panel-header>
        <mat-panel-title>
          D: Purely national exclusion grounds
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="exclusionDCriteria.length !== 0">
        <div class="desc">
          <h4>Do the purely national grounds of exclusion, which are specified in the relevant notice or in the procurement documents, apply?</h4>
        </div>
      </ng-container>
      <mat-card *ngFor="let criteria of exclusionDCriteria; let i=index">
        <div class="exclusionCriteria" >
          <div class="criteria">
            <mat-checkbox color="primary" checked="criteria.selected" name="exclusionDCriteria" [(ngModel)]="exclusionDCriteria[i].selected" [disabled]="this.dataService.isReadOnly()">{{criteria.name}}</mat-checkbox>
            <div class="critDesc">{{criteria.description}}</div>
          </div>
          <div class="eCertis">
            <h5>eCertis Information ...</h5>
            <div class="eCertDesc">no information...</div>
          </div>
        </div>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button color="primary" matStepperPrevious>Back</button>
  <button type="submit" mat-raised-button color="primary" matStepperNext (click)="onExclusionSubmit(f)">Next</button>
</form>
