<app-toolbar></app-toolbar>

<div class="container">

  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
    <mat-step>
      <ng-template matStepLabel>Start</ng-template>
      <app-start></app-start>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Procedure</ng-template>
      <app-procedure></app-procedure>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Exclusion</ng-template>
      <app-exclusion></app-exclusion>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Selection</ng-template>
      <app-selection></app-selection>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finish</ng-template>
      <h2>Finished...</h2>
    </mat-step>
  </mat-horizontal-stepper>

</div>


