<app-toolbar></app-toolbar>

<div class="container">
  <app-welcome></app-welcome>
  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
    <mat-step>
      <ng-template matStepLabel>Start</ng-template>
      <app-start></app-start>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Procedure</ng-template>
      <h2>Procedure...</h2>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Exclusion</ng-template>
      <h2>Exclusion...</h2>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Selection</ng-template>
      <h2>Selection...</h2>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finish</ng-template>
      <h2>Finished...</h2>
    </mat-step>
  </mat-horizontal-stepper>

</div>


