<div mat-dialog-content *ngIf="dataService.selectedLanguage === 'el'">
  <p>Από την Παρασκευή 04/02/2022 η σελίδα αυτή καταργείται λόγω μετεγκατάστασης του υποσυστήματος Promitheus ESPDint του ΟΠΣ ΕΣΗΔΗΣ στις υποδομές του ενιαίου κυβερνητικού νέφους (GCloud).</p>
  <p> Οι ηλεκτρονικές υπηρεσίες ΕΕΕΣ θα προσφέρονται πλέον μέσα από το σύνδεσμο <a href="https://espd.eprocurement.gov.gr/">espd.eprocurement.gov.gr</a></p>
</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onClose()">Close</button>
</mat-dialog-actions>
