<div *ngFor="let rg of criterion.requirementGroups" class="form-row">
  <app-requirement-group [reqGroup]="rg" [form] = "form.get(rg.uuid)" [indicator]="true"></app-requirement-group>
  <div *ngIf="rg.mandatory && rg.multiple" style="text-align: right">
    <button type="button" (click)="onAdd(rg)"><span class="material-icons" style="vertical-align: middle;">add_circle_outline</span></button>
    <button type="button" (click)="onRemove(rg)"><span class="material-icons" style="vertical-align: middle;">remove_circle_outline</span></button>
  </div>
</div>
