/* FOR FUTURE REFERENCE: THIS GOT TO DO WITH PAGE BREAKS */
/*page-break-inside: avoid;*/

@page {
    size: A4 portrait;

    @top-left {
        content: element(image-content);
    }

    @bottom-left {
        content: element(footer-content);
    }

    @bottom-right {
        content: counter(page);
        font-style: normal;
    }
}

@page landscape {
    size: A4 landscape;
}

@font-face {
    font-family: "Free-Sans";
    /*src: url("../FreeSans.ttf") format("truetype"); !* Use an absolute or relative url. *!*/
}

.espd-details {
    /* Font-family attribute renders Greek letters instead of # symbols */
    font-family: "Free-Sans", sans-serif;
    font-size: 13px;
    max-width: unset;
    margin: unset;
}

.espd-details .procedure-header .footer-content {
    display: block;
    font-style: normal;
    font-size: 13px;
    position: running(footer-content);
}

.espd-details .procedure-header .image-content {
    display: block;
    /* POSITION RUNNING FOR REPEATING HEADER IMAGE */
    /*position: running(image-content);*/
}

.espd-details .procedure-header h2 {
    text-align: center;
}

.espd-details .section {
    margin-bottom: 20px;
}

.espd-details .chapter {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.espd-details .chapter-headline{
    font-size: 14px;
    vertical-align: unset;
    color: white;
    padding: 10px;
    background-color: #476065;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.chapter-content {
    padding: 20px;
}

.descInput {
    margin-bottom: 10px;
}

textarea {
    width: 95%;
}

.espd-details h3 {
    color: white;
    background-color: #476065;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin-top: 10px;
}

.content-left {
    color: #b4b4b4;
    font-weight: normal;
    clear: both;
    display: block;
    width: 100%;
}

.content-right {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid #b4b4b4;
    clear: both;
    display: block;
}

label {
    display: block;
    font-weight: bold;
}

.genericDescriptionLabel, .periodDescriptionLabel, .descriptionLabel, .evidenceUrlLabel, .evidenceIdentifierUrlLabel, .evidenceIdentifierCodeLabel, .evidenceIdentifierIssuerLabel, .lotIdentifierLabel, .eoIdentifierEntityLabel, .eoIdentifierTypeLabel, .eoIdentifierCpvLabel, .identifierLabel {
    font-weight: normal;
    color: #b4b4b4;
}

p {
    text-align: justify;
}

.descriptionParagraph, .evidenceUrlParagraph, .quantityParagraph, .quantityYearParagraph, .quantityIntegerParagraph, .amountParagraph, .countryParagraph, .percentageParagraph, .periodParagraph, .codeParagraph, .evidenceIdentifierUrlParagraph, .evidenceIdentifierCodeParagraph, .evidenceIdentifierIssuerParagraph, .urlParagraph, .lotIdentifierParagraph, .dateParagraph, .eoIdentifierEntityParagraph, .eoIdentifierTypeParagraph, .eoIdentifierCpvParagraph, .identifierParagraph {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid #b4b4b4;
    margin-top: 2px;
}


.fa {
    color: #476065;
    font-size: 15px;
    /*margin-left: 5px;*/
    margin-right: 5px;
    vertical-align: middle;
}

.singleQuestion {
    margin-top: 20px;
    margin-bottom: 20px;
}

.questionGroup {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.questionSubgroup {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}
