<h4>Finish</h4>

<form #f="ngForm">

  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Part VI: Concluding statements
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="desc">
        <p>
          The economic operator formally declare that the information stated under Parts II - V above is accurate and correct and that it has been set out in full awareness of the consequences of serious misrepresentation.
          The undersigned formally declare to be able, upon request and without delay, to provide the certificates and other forms of documentary evidence referred to, except where:
        </p>

        <ol>
          <li>The contracting authority or contracting entity has the possibility of obtaining the supporting documentation concerned directly by accessing a national database in any Member State that is available free of charge (on condition that the economic operator has provided the necessary information (web address, issuing authority or body, precise reference of the documentation) allowing the contracting authority or contracting entity to do so. Where required, this must be accompanied by the relevant  consent to such access), or</li>
          <li>As of 18 October 2018 at the latest (depending on the national implementation of the second subparagraph of Article 59(5) of Directive 2014/24/EU), the contracting authority or contracting entity already possesses the documentation concerned.</li>
        </ol>
        <p>The undersigned formally consent to [identify the contracting authority or contracting entity as set out in Part I, Section A], gaining access to documents supporting the information, which has been provided in [identify the Part/Section/Point(s) concerned] of this European Single Procurement Document for the purposes of [identify the procurement procedure: (summary description, reference of publication in the Official Journal of the European Union, reference number)].</p>
        <p>Date, place and, where required or necessary, signature(s):</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Save
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="desc">
        <p>You can now click on 'Export' to download and save the ESPD file on your computer. Contracting authorities
          must ensure that this ESPD file is available to the economic operators alongside the other tender
          documents.
        </p>
      </div>
    </mat-expansion-panel>



  </mat-accordion>

  <button mat-raised-button color="primary" matStepperPrevious>Back</button>
  <ng-container *ngIf="!this.dataService.isReadOnly()">
    <button type="submit" mat-raised-button color="primary" matStepperNext (click)="exportFile()">Export</button>
  </ng-container>

  <!--<button type="submit" mat-raised-button color="primary" matStepperNext (click)="exportFileV2()">Export V2</button>-->
</form>
