
<app-welcome></app-welcome>

<form  #f="ngForm">

  <mat-card>
    <mat-card-title>Who are you?</mat-card-title>
    <mat-card-content>
      <mat-radio-group name="chooseRole" ngModel>
        <mat-radio-button color="primary" name="role" value="CA" (change)="handleRole(CA)" #CA>I am a contracting
          authority
        </mat-radio-button>
        <mat-radio-button color="primary" name="role" value="EO" (change)="handleRole(EO)" #EO>I am an economic
          operator
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isCA">
    <mat-card-title>What would you like to do?</mat-card-title>
    <mat-card-content>
      <div class="wrapper">
        <mat-form-field class="width">
          <input matInput name="noticeNumber" placeholder="Please Specify the Received Notice Number" required ngModel>
        </mat-form-field>
        <mat-radio-group name="caOptions" ngModel>
          <mat-radio-button color="primary"
                            name="caOption"
                            value="createNewESPD"
                            (change)="handleCASelection(createNewESPD)"
                            #createNewESPD>Create a new ESPD</mat-radio-button>
          <mat-radio-button color="primary"
                            name="caOption"
                            value="reuseESPD"
                            (change)="handleCASelection(reuseESPD)"
                            #reuseESPD>Reuse an existing ESPD</mat-radio-button>
          <mat-radio-button color="primary"
                            name="caOption"
                            value="reviewESPD"
                            (change)="handleCASelection(reviewESPD)"
                            #reviewESPD>Review ESPD</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isCreateNewESPD && isCA">

    <mat-card-title>Select Version</mat-card-title>
    <mat-card-content>
      <mat-radio-group name="versions" ngModel>
        <mat-radio-button color="primary"
                          name="version"
                          value="v1"
                          (change)="handleVersionSelection(createV1)"
                          #createV1>Create v1</mat-radio-button>
        <mat-radio-button color="primary"
                          name="version"
                          value="v2"
                          (change)="handleVersionSelection(createV2)"
                          #createV2>Create v2
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

    <mat-card-title>Where is your Authority located?</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select name="CACountry" placeholder="Select Country" ngModel>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="(isReuseESPD || isReviewESPD)&& isCA">
    <mat-card-title>Upload Document</mat-card-title>
    <mat-card-content>
      <label for="fileUploadCA">Please upload an ESPD Request or an ESPD Response: </label>
      <br>
      <input type="file" id="fileUploadCA"
             name="importCA"
             (change)="handleFileUpload($event.target.files)" required
             accept=".xml">
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isEO">
    <mat-card-title>What would you like to do?</mat-card-title>
    <mat-card-content>
      <mat-radio-group name="eoOptions" ngModel>
        <mat-radio-button color="primary"
                          name="eoOption"
                          value="importESPD"
                          (change)="handleEOSelection(importESPD)" #importESPD>Import ESPD</mat-radio-button>
        <mat-radio-button color="primary"
                          name="eoOption"
                          value="createResponse"
                          (change)="handleEOSelection(createResponse)" #createResponse>Create Response</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isImportESPD && isEO">
    <mat-card-title>Upload Document</mat-card-title>
    <mat-card-content>
      <label for="fileUploadEO">Please upload an ESPD Request or an ESPD Response: </label>
      <br>
      <input type="file" id="fileUploadEO"
             name="importEO"
             (change)="handleFileUpload($event.target.files)" required
             accept=".xml">
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isCreateResponse && isEO">

    <mat-card-title>Select Version</mat-card-title>
    <mat-card-content>
      <mat-radio-group name="versions" ngModel>
        <mat-radio-button color="primary"
                          name="version"
                          value="v1"
                          (change)="handleVersionSelection(createV1)"
                          #createV1>Create v1</mat-radio-button>
        <mat-radio-button color="primary"
                          name="version"
                          value="v2"
                          (change)="handleVersionSelection(createV2)"
                          #createV2>Create v2
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

    <mat-card-title>Where is your business located?</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select name="EOCountry" placeholder="Select Country" ngModel>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <button type="button" mat-raised-button color="primary" (click)="onStartSubmit(f)"  matStepperNext>Next</button>

</form>
