
<div class="container">

  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
    <mat-step>
      <ng-template matStepLabel>Start</ng-template>
      <app-start></app-start>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Procedure</ng-template>
      <app-procedure *ngIf="dataService.isCA"></app-procedure>
      <app-procedure-eo [formA] = 'dataService.eoRelatedACriteriaForm'
                        [formD] = 'dataService.eoRelatedDCriteriaForm'
                        [formC] = 'dataService.eoRelatedCCriteriaForm'
                        [eoRelatedACriteria] = 'dataService.eoRelatedACriteria'
                        [eoRelatedCCriteria] = 'dataService.eoRelatedCCriteria'
                        [eoRelatedDCriteria] = 'dataService.eoRelatedDCriteria'
                        *ngIf="dataService.isEO"></app-procedure-eo>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Exclusion</ng-template>
      <app-exclusion  [exclusionACriteria] = 'dataService.exclusionACriteria'
                      [exclusionBCriteria] = 'dataService.exclusionBCriteria'
                      [exclusionCCriteria] = 'dataService.exclusionCCriteria'
                      [exclusionDCriteria] = 'dataService.exclusionDCriteria'
                      *ngIf="dataService.isCA"></app-exclusion>
      <app-exclusion-eo [formA] = 'dataService.exclusionACriteriaForm'
                        [formB] = 'dataService.exclusionBCriteriaForm'
                        [formC] = 'dataService.exclusionCCriteriaForm'
                        [formD] = 'dataService.exclusionDCriteriaForm'
                        [exclusionACriteria] = 'dataService.exclusionACriteria'
                        [exclusionBCriteria] = 'dataService.exclusionBCriteria'
                        [exclusionCCriteria] = 'dataService.exclusionCCriteria'
                        [exclusionDCriteria] = 'dataService.exclusionDCriteria'
        *ngIf="dataService.isEO"></app-exclusion-eo>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Selection</ng-template>
      <app-selection [selectionACriteria] = 'dataService.selectionACriteria'
                     [selectionBCriteria] = 'dataService.selectionBCriteria'
                     [selectionCCriteria] = 'dataService.selectionCCriteria'
                     [selectionDCriteria] = 'dataService.selectionDCriteria'
                     [selectionALLCriteria]='dataService.selectionALLCriteria'
        *ngIf="dataService.isCA"></app-selection>
      <app-selection-eo [formA] = 'dataService.selectionACriteriaForm'
                        [formB] = 'dataService.selectionBCriteriaForm'
                        [formC] = 'dataService.selectionCCriteriaForm'
                        [formD] = 'dataService.selectionDCriteriaForm'
                        [formALL] = 'dataService.selectionALLCriteriaForm'
                        [selectionACriteria] = 'dataService.selectionACriteria'
                        [selectionBCriteria] = 'dataService.selectionBCriteria'
                        [selectionCCriteria] = 'dataService.selectionCCriteria'
                        [selectionDCriteria] = 'dataService.selectionDCriteria'
                        [selectionALLCriteria]="dataService.selectionALLCriteria"
                        *ngIf="dataService.isEO"></app-selection-eo>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finish</ng-template>
      <app-finish *ngIf="dataService.isCA"></app-finish>
      <app-finish-eo [form]="dataService.reductionCriteriaForm"
                     [reductionCriteria]="dataService.reductionCriteria"
        *ngIf="dataService.isEO"></app-finish-eo>
    </mat-step>
  </mat-horizontal-stepper>

</div>
